@import "reset";
@import "variable";
@import "mixins";
@import "fonts";
@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

:root {
  --font-13: 13px;
  --font-15: 15px;
  --font-20: 20px;
  --font-30: 30px;
}

html {
  overflow: hidden;
}

h2 {
  font-family: $font-lato;
  font-size: var(--font-30);
  font-weight: $font-bold;
  color: $black;
}

.owl-carousel {
  .owl-dots {
    button {
      outline: none;
    }
  }
}

nav {
  &.nav-pad {
    padding: 0 5%;
  }

  .logo-box {
    position: relative;
    padding-right: 10px;
    border-right: 1px solid $light-grey;
    @include breakpoints-max(md) {
      border: none;
    }

    .navbar-brand {
      padding: 5px 0;
      display: block;

      img {
        @include breakpoints-min-max(sm, lg) {
          margin-left: 50px;
        }
      }
    }

    .hamburger {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      a {
        display: inline-block;
        padding: 5px;
        span {
          font-size: 25px;
          color: $grey;
        }
      }
    }
  }

  .right-box {
    margin: 0 10px;
    @include breakpoints-max(md) {
      margin: 0;
    }

    .top-menu {
      display: flex;
      align-items: center;
      justify-content: end;

      li {
        display: inline-block;
        padding: 5px 10px;
        @include breakpoints-max(md) {
          padding: 5px 8px;
        }

        .user-img {
          img {
            vertical-align: middle;
            @include breakpoints-max(sm) {
              max-width: 62%;
            }
          }

          span.icon-ctrl {
            display: inline-block;
            transform: rotate(180deg);
          }
        }
      }
    }

    span {
      color: $grey;

      &[class^='icon-'] {
        font-size: 20px;
      }

      cursor: pointer;
    }

    .search-box {
      position: relative;
      padding: 0;

      .icon-search {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        color: $grey;
      }

      input {
        height: 45px;
        width: 100%;
        border: 0;
        padding-left: 35px;
        font-size: 15px;
        color: rgba($grey, .8);
      }
    }
  }
}

main {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 60px);
  @include breakpoints-max(sm) {
    height: calc(100vh - 55px);
  }
  @include breakpoints-max(xl) {
    height: auto;
    overflow: auto;
  }

  .side-bar {
    font-family: $font-lato;
    background: $side-bar;
    height: calc(100vh - 60px);
    @include breakpoints-max(sm) {
      height: calc(100vh - 55px);
    }
    overflow: hidden;
    width: 27.5%;
    float: left;
    border-right: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    transition: width .15s linear;
    @include breakpoints-min(xl) {
      width: 20%;
      border-right: 1px solid $light-grey;
    }
    @include breakpoints-max(lg) {
      position: absolute;
      left: -310px;
      width: 310px;
      border-right: 0;
      z-index: 99;
      transition: left .15s linear;
    }

    #sideBarLogo {
      margin-right: auto;
      margin-top: 50px;
      @include breakpoints-max(xl) {
        padding-left: 16.5%;
      }
    }
    .hamburger {
      text-align: right;
      font-size: 25px;
      padding: 10px;
      background: $white;
      color: $grey;
    }

    .side-bar-container {
      @include breakpoints-min(xl) {
        padding-left: 25%;
      }
      @include breakpoints-max(xl) {
        padding-left: 16.5%;
      }
      overflow: auto;
      height: 100%;
      ul.menu-list {
        margin-top: 20px;

        li {
          a {
            padding: 10px 5px;
            display: inline-block;

            span {
              color: $grey;

              &[class^='icon-'] {
                font-size: 20px;
                margin-right: 5px;
              }
            }

            .menu-name {
              display: inline;
            }
          }

          &:hover {
            span {
              color: $red;
            }
          }
        }
      }

      .img-wrapper {
        margin: 5% 0;
        @include breakpoints-min(xl) {
          padding-right: 25%;
        }
        @include breakpoints-max(xl) {
          padding-right: 16.5%;
        }
      }

    }

    @include breakpoints-min(lg) {
      &.shrunk {
        width: 5%;

        .hamburger {
          text-align: center;
        }

        .side-bar-container {
          padding-left: 0;

          ul.menu-list {
            text-align: center;

            .menu-name {
              display: none;
            }
          }

        }

        .img-wrapper {
          display: none;
        }

        .contact-us {
          display: none;
        }

      }
    }
    @include breakpoints-max(lg) {
      &.open {
        left: 0;
        box-shadow: 2px 0px 10px $blue-1;
      }
    }
    .contact-us {
      padding: 50px 0;
      @include breakpoints-min-max(lg, xl) {
        padding-bottom: 100px;
      }
      border-top: 1px solid $light-grey;
      div {
        color: #5fa1fc;
        font-size: 25px;
        margin-bottom: 20px;
        span {
          font-size: 25px;
        }
      }
      p {
        font-size: var(--font-13);
        margin-bottom: 10px;
      }
    }
  }

  .main-container {
    background: $middle-section;
    border-top: 1px solid $light-grey;
    height: calc(100vh - 60px);
    overflow: hidden;
    @include breakpoints-max(sm) {
      height: calc(100vh - 55px);
    }
    @include breakpoints-max(lg) {
      margin-left: 0;
    }

    .main-inner {
      overflow: auto;
      height: 100%;
      .middle-section {
        position: relative;
        height: 100%;
        padding: 30px 30px 120px 30px;
        @include breakpoints-max(lg) {
          //margin-bottom: 97px;
          //padding-bottom: 97px;
        }
        @include breakpoints-max(sm) {
          padding: 30px 15px 97px 15px;
        }

        .section-title {
          margin-bottom: 30px;

          span {
            &[class^='icon-'] {
              background: $grey;
              border-radius: 50%;
              padding: 10px;
              font-size: 25px;
              margin-right: 5px;
              color: $white;
            }
          }

          h2 {
            display: inline-block;
          }
        }


        .latest-request {
          margin-bottom: 30px;

          .owl-carousel {
            position: relative;

            .item {
              .card-box {
                background: $white;
                border-radius: 5px;
                padding: 20px;
                min-height: 130px;
                display: flex;
                align-items: center;
                position: relative;

                &:before {
                  font-family: 'icomoon';
                  content: "\ea3c";
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  z-index: 1;
                  padding: 5px;
                  font-size: 20px;
                  color: $white;
                }

                &:after {
                  content: "";
                  width: 0;
                  height: 0;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                }

                &.red {
                  .inner {
                    .status-report {
                      color: red;
                    }
                  }

                  &:after {
                    border-bottom: 50px solid red;
                    border-left: 50px solid transparent;
                  }
                }

                &.blue {
                  .inner {
                    .status-report {
                      color: blue;
                    }
                  }

                  &:after {
                    border-bottom: 50px solid blue;
                    border-left: 50px solid transparent;
                  }
                }

                &.green {
                  .inner {
                    .status-report {
                      color: green;
                    }
                  }

                  &:after {
                    border-bottom: 50px solid green;
                    border-left: 50px solid transparent;
                  }
                }

                &.yellow {
                  .inner {
                    .status-report {
                      color: yellow;
                    }
                  }

                  &:after {
                    border-bottom: 50px solid yellow;
                    border-left: 50px solid transparent;
                  }
                }

                .inner {
                  width: 100%;

                  p {
                    font-size: var(--font-20);
                    color: $black;
                    margin-bottom: 10px;
                  }

                  span {
                    display: block;
                    font-size: 10px;
                    color: $grey;

                    &.status-report {
                      display: block;
                      font-size: 15px;
                      text-align: right;
                      margin: 5% 5% 0 0;
                    }
                  }
                }
              }
            }

            .owl-dots {
              position: absolute;
              top: -50px;
              right: 0;
              @include breakpoints-max(sm) {
                bottom: unset;
                top: unset;
                left: 0;
                right: 0;
              }
            }
          }
        }

        .service-list {
          font-family: $font-lato;

          &[data-theme="theme-1"] {
            .service {
              background-color: rgba($theme-1, .5);

              &:hover {
                background-color: $theme-1;
                .inner {
                  span{
                    &[class^='icon-'] {
                      color: $white;
                    }
                  }
                }
              }

              &.active {
                background-color: $theme-1;
              }
              .inner {
                span{
                  &[class^='icon-'] {
                    color: $theme-1;
                  }
                }
              }
            }
          }

          &[data-theme="theme-2"] {
            .service {
              background-color: rgba($theme-2, .5);

              &:hover {
                background-color: $theme-2;
                .inner {
                  span{
                    &[class^='icon-'] {
                      color: $white;
                    }
                  }
                }
              }

              &.active {
                background-color: $theme-2;
              }
              .inner {
                span{
                  &[class^='icon-'] {
                    color: $theme-2;
                  }
                }
              }
            }
          }

          &[data-theme="theme-3"] {
            .service {
              background-color: rgba($theme-3, .5);

              &:hover {
                background-color: $theme-3;
                .inner {
                  span{
                    &[class^='icon-'] {
                      color: $white;
                    }
                  }
                }
              }

              &.active {
                background-color: $theme-3;
              }
              .inner {
                span{
                  &[class^='icon-'] {
                    color: $theme-3;
                  }
                }
              }
            }
          }

          .service {
            display: flex;
            align-items: center;
            width: 130px;
            height: 130px;
            margin: 10px;
            border-radius: 5px;
            transition: background-color linear;

            .inner {
              width: 100%;
              text-align: center;

              span {
                display: block;
                text-align: center;
                font-size: var(--font-15);;
                color: $white;

                &[class^=icon-] {
                  font-size: 50px;
                  margin-bottom: 10px;
                }
              }
            }

            &.empty {
              background-color: $light-grey;

              span {
                width: 20px;
                height: 20px;
                background-color: rgba($grey, .5);
                border-radius: 50%;
                margin: 5px;
                display: inline-block;
                &.text {
                  width: unset;
                  height: unset;
                  background-color: unset;
                  display: block;
                  text-align: center;
                  font-size: var(--font-15);;
                  color: $theme-3;
                }
              }
              &:hover {
                span {
                  &.text {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }

      .chart-section {
        font-family: $font-nunito;
        padding: 25px 15px;
        background: $side-bar;
        border-top: 1px solid $light-grey;
        height: 100%;
        position: relative;
        overflow: hidden;
        .title-box {
          margin-bottom: 50px;

          .title {
            display: inline-block;
            color: $blue-1;
            font-size: var(--font-20);
          }

          .btn-export {
            border-radius: 15px;
            font-size: 13px;
            border: 1px solid $blue-1;
            color: $blue-1;
            width: 100%;
            min-width: 50px;
            max-width: 110px;

            &:hover {
              background: $blue-1;
              color: $white;
            }

            span {
              font-size: 10px;
            }
          }
        }

        .donut-wrapper {
          text-align: center;
          .donut {
            fill: transparent;
            max-width: 300px;
            @include breakpoints-max(lg) {
              max-width: 180px;
            }
            .donut-hole {
              fill: $side-bar;
            }
            .donut-ring {
              stroke: $blue-4;
              stroke-width: 2;
              fill: transparent;
            }
            circle{
              &:nth-child(3) {
                stroke: $blue-2;
              }
              &:nth-child(4) {
                stroke: $blue-1;
              }
            }
            .donut-segment {
              fill: transparent;
              stroke-width: 2px;
            }
            .chart-text {
              font: 16px/1.4em $font-nunito;
              fill: $blue-2;
              transform: translateY(5%);

              .chart-inner-number {
                font-size: 0.6em;
                line-height: 1;
                text-anchor: middle;
                transform: translateY(-5%);
              }

              .chart-inner-label {
                text-transform: uppercase;
                text-anchor: middle;
                font-size: 0.15em;
                transform: translateY(5%);
              }
            }
          }
        }
        .chart-labels {
          font-family: $font-nunito;
          [class^='label-']{
            font-size: var(--font-15);;
            display: flex;
            align-items: center;
            padding-left: 25%;
            @include breakpoints-max(sm) {
              padding-left: 0;
            }
            span {
              display: inline-block;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              margin: 5px;
            }
          }
          .label-1 {
            span {
              background-color: $blue-2;
            }
          }
          .label-2 {
            span {
              background-color: $blue-3;
            }
          }
          .label-3 {
            span {
              background-color: $blue-4;
            }
          }
        }

        .theme-selector-wrapper {
          position: absolute;
          bottom: -80px;
          left: 0;
          right: 0;
          background-color: #e9ebf2;
          padding: 30px 15px;
          border-top: 1px solid $light-grey;
          transition: bottom .15s linear;

          p {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            font-family: $font-nunito;
            font-weight: $font-bold;
            font-size: 15px;
            text-align: center;
            padding: 5px;
          }
          span {
            &[class="icon-ctrl"] {
              position: absolute;
              top: -19%;
              right: 5%;
              padding: 15px 10px 5px 10px;
              line-height: 0;
              background: $light-grey;
              cursor: pointer;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
          ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .theme-name {
              cursor: pointer;
              width: 50px;
              height: 50px;
              border-radius: 15px;
              &.active {
                border: 2px solid $blue-2;
              }
              &[data-name='theme-1'] {
                background-color: $theme-1;
              }
              &[data-name='theme-2'] {
                background-color: $theme-2;
              }
              &[data-name='theme-3'] {
                background-color: $theme-3;
              }
            }
          }
          @include breakpoints-max(xl) {
            position: fixed;
            top: 30%;
            right: -81px;
            left: unset;
            bottom: unset;
            border-left: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            z-index: 999;
            padding-top: 65px;
            padding-bottom: 15px;
            transition: right .15s linear;
            box-shadow: -1px 1px 5px $blue-1;

            p {
              font-size: 12px;
              top: 10px;
            }

            span {
              &[class="icon-ctrl"] {
                top: 10%;
                right: 90%;
                transform: rotate(-90deg);
                box-shadow: 0 -4px 5px $blue-1;
              }
            }
            ul {
              display: unset;
              .theme-name {
                margin-bottom: 10px;
              }
            }
          }
          &.open {
            @include breakpoints-min(xl) {
              bottom: 0;
            }
            @include breakpoints-max(xl) {
              right: 0;
            }
          }
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: $font-lato;
  font-size: var(--font-13);
  color: $black;
  height: 97px;
  border-top: 1px solid black;
  padding: 30px;
  background: $white;
  @include breakpoints-max(sm) {
    padding: 15px;
  }
  @include breakpoints-min(xl){
    bottom: 0 ;
  }

  ul {
    @include breakpoints-max(sm) {
      text-align: center;
      margin-bottom: 10px;
    }
    li {
      display: inline-block;
      padding: 5px 0 5px 5px;
      &:after {
        content: "|";
        margin-left: 5px;
      }
      &:last-child {
        &:after {
          content: " ";

        }
      }
    }
  }
  p {
    text-align: right;
    @include breakpoints-max(sm) {
      text-align: center;
    }
    span {
      margin-right: 5px;
    }
  }
}
